:root {
    --branco-suave: #ececec;
    --preto-suave: #1a1a1a;
    --cinza-claro: #d1d1d1;
    --azul-escuro-logo: #465466;
    --azul-esverdeado-logo: #31ae81;

    --roboto: 'Roboto', sans-serif;
    --poppins: 'Poppins', sans-serif;
}
